PORT=3000
NODE_ENV=development
JWT_SECRET=nextrade_pro_secure_jwt_secret_key_2026

# Future External Market Data API Provider (e.g. NSE / BSE / Zerodha Kite / Angel One SmartAPI / Upstox API)
MARKET_DATA_PROVIDER=mock
MARKET_DATA_API_KEY=
MARKET_DATA_API_SECRET=

# Future Real Brokerage Gateway Provider
BROKER_GATEWAY_PROVIDER=mock
BROKER_API_KEY=
BROKER_API_SECRET=

# Future Indian KYC Provider (e.g. Digilocker / Karza / NSDL)
KYC_PROVIDER=mock
KYC_API_KEY=

# Future Payment Gateway (e.g. Razorpay / Cashfree / PayU)
PAYMENT_GATEWAY_PROVIDER=mock
PAYMENT_KEY_ID=
PAYMENT_KEY_SECRET=
